### Template ###

/.idea
/bitrix
/upload
/local/templates

################

#### files #####

.access.php
.section.php
.top.menu.php
.htaccess
urlrewrite.php
bitrixsetup.php.tmp
404.php
favicon.ico

